In [ ]:
#!pip install pandas_profiling

In [ ]:
#!pip install https://github.com/pandas-profiling/pandas-profiling/archive/master.zip

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
%matplotlib inline
from pandas_profiling import ProfileReport

In [ ]:
#call des fichiers
df=pd.read_excel('/content/drive/MyDrive/HETIC/july_project/data_july.xlsx', header=[0,1])

In [ ]:
#df=df.fillna('null')

In [ ]:
df

                       review                                         \
                Creation date Updated date               Business Id
0     2022-05-31 23:32:47.181          NaT  565c8ee63440cd4d3f481a7b
1     2022-05-31 23:32:31.541          NaT  565c8ee43440cd4d3f481a1d
2     2022-05-31 22:05:35.998          NaT  565c8ee63440cd4d3f481a67
3     2022-05-31 21:56:30.729          NaT  565c8ee43440cd4d3f481a11
4     2022-05-31 21:52:42.453          NaT  565c8ee53440cd4d3f481a47
...                       ...          ...                       ...
48807 2021-06-01 03:30:33.260          NaT  565c8ee23440cd4d3f4819c5
48808 2021-06-01 02:30:48.452          NaT  565c8ee43440cd4d3f481a03
48809 2021-06-01 02:30:29.917          NaT  565c8ee53440cd4d3f481a4f
48810 2021-06-01 02:02:12.199          NaT  565c8ee53440cd4d3f481a4f
48811 2021-06-01 00:50:33.613          NaT  565c8ee23440cd4d3f4819bd

                                                        \
      Location name Group Id  Group name Business Code
0         Castorama   2212.0   PARIS SUD          1458
1         Castorama   2214.0         EST          1431
2         Castorama   2212.0   PARIS SUD          1413
3         Castorama   2210.0        NORD          1461
4         Castorama   2211.0  PARIS NORD          1486
...             ...      ...         ...           ...
48807     Castorama   2213.0       OUEST          1411
48808     Castorama   2210.0        NORD          1410
48809     Castorama   2210.0        NORD          1477
48810     Castorama   2210.0        NORD          1477
48811     Castorama   2211.0  PARIS NORD          1479

                                                                      ...  \
                               Address                  City Zipcode  ...
0                  route nationale 186               Fresnes   94260  ...
1                  rue Bernard Palissy  Vandoeuvre Les Nancy   54500  ...
2               4 rue De La Longueraie     Vigneux Sur Seine   91270  ...
3                     ZAC Du Pont Loby             Dunkerque   59140  ...
4              1-3 rue De Caulaincourt                 Paris   75018  ...
...                                ...                   ...     ...  ...
48807             2 rue Hélène Boucher               Orvault   44700  ...
48808  422 avenue Du Général De Gaulle               Bondues   59910  ...
48809                Centre Commercial            Haubourdin   59320  ...
48810                Centre Commercial            Haubourdin   59320  ...
48811         90 avenue Henri Barbusse  Les-Clayes-Sous-Bois   78340  ...

                                                     GMB  \
                                                Response
0      Bonjour Eliza,\nMerci d'avoir pris le temps de...
1      Bonjour,\nMerci de nous avoir informé de ce pr...
2      Bonjour Madame,\nNous vous remercions chaleure...
3      Bonjour manuel,\nN'hésitez pas à nous contacte...
4      Bonjour Parrot Jean-Louis,\nMille mercis d’avo...
...                                                  ...
48807  Bonjour Patrick,\nNous vous remercions pour ce...
48808  Bonjour Véronique,\nToute notre équipe est rav...
48809  Bonjour Véronique Dupont,\nMille mercis d’avoi...
48810  Bonjour A E 88\nNous vous remercions d'avoir p...
48811  Bonjour Anne-Laurence,\nNous vous remercions p...

                                 Facebook                                     \
                            template_used Recommended Response date Response
0                                     NaN         NaN           NaT      NaN
1                                 Excuses         NaN           NaT      NaN
2                                     NaN         NaN           NaT      NaN
3         2/3 étoiles (sans commentaire)          NaN           NaT      NaN
4      4-5 étoiles (sans commentaire) (1)         NaN           NaT      NaN
...                                   ...         ...           ...      ...
48807                          Au plaisir         NaN           NaT      NaN
48808  4-5 étoiles (sans commentaire) (4)         NaN           NaT      NaN
48809  4-5 étoiles (sans commentaire) (1)         NaN           NaT      NaN
48810                Mauvaise expérience          NaN           NaT      NaN
48811                          Au plaisir         NaN           NaT      NaN

                             TripAdvisor
      template_used.1 Number of comments Rating Response date Response
0                 NaN                NaN    NaN           NaN      NaN
1                 NaN                NaN    NaN           NaN      NaN
2                 NaN                NaN    NaN           NaN      NaN
3                 NaN                NaN    NaN           NaN      NaN
4                 NaN                NaN    NaN           NaN      NaN
...               ...                ...    ...           ...      ...
48807             NaN                NaN    NaN           NaN      NaN
48808             NaN                NaN    NaN           NaN      NaN
48809             NaN                NaN    NaN           NaN      NaN
48810             NaN                NaN    NaN           NaN      NaN
48811             NaN                NaN    NaN           NaN      NaN

[48812 rows x 26 columns]

In [ ]:
df['review']['Updated date']

0       NaT
1       NaT
2       NaT
3       NaT
4       NaT
         ..
48807   NaT
48808   NaT
48809   NaT
48810   NaT
48811   NaT
Name: Updated date, Length: 48812, dtype: datetime64[ns]

In [ ]:
df['TripAdvisor'].isnull().sum()/len(df)

Number of comments    0.997378
Rating                1.000000
Response date         1.000000
Response              1.000000
dtype: float64

In [ ]:
df['Facebook'].isnull().sum()/len(df)

template_used      0.210153
Recommended        0.997378
Response date      0.998709
Response           0.998709
template_used.1    0.998996
dtype: float64

In [ ]:
df['review'].isnull().sum()/len(df)

Creation date    0.000000
Updated date     0.848623
Business Id      0.000000
Location name    0.000000
Group Id         0.001496
Group name       0.001496
Business Code    0.000000
Address          0.000000
City             0.000000
Zipcode          0.000000
Platform         0.000000
Content          0.427272
Deleted          0.000000
dtype: float64

In [ ]:
df.index

RangeIndex(start=0, stop=48812, step=1)

In [ ]:
#Function to count missing values on the dataset
def missing_values_table(df):

    mis_val = df.isnull().sum()

    mis_val_percent = 100 * df.isnull().sum() / len(df)

    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)

    mis_val_table_ren_columns = mis_val_table.rename(
    columns = {0 : 'Missing Values', 1 : '% of Total Values'})

    mis_val_table_ren_columns = mis_val_table_ren_columns[
        mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
    '% of Total Values', ascending=False).round(2)

    # Print some summary information
    print("Your selected dataframe has {} columns.".format(df.shape[1]) + '\n' +
    "There are {} columns that have missing values.".format(mis_val_table_ren_columns.shape[0]))

    # Return the dataframe with missing information
    return mis_val_table_ren_columns

missing_values_table(df)

Your selected dataframe has 26 columns.
There are 16 columns that have missing values.

                                Missing Values  % of Total Values
TripAdvisor Rating                       48812             100.00
            Response date                48812             100.00
            Response                     48812             100.00
Facebook    template_used.1              48763              99.90
            Response date                48749              99.87
            Response                     48749              99.87
            Recommended                  48684              99.74
TripAdvisor Number of comments           48684              99.74
review      Updated date                 41423              84.86
            Content                      20856              42.73
Facebook    template_used                10258              21.02
GMB         Response date                 2066               4.23
            Response                      2066               4.23
            Rating                         128               0.26
review      Group Id                        73               0.15
            Group name                      73               0.15

In [ ]:
df_review = df['review']
df_facebook = df['Facebook']
df_gmb = df['GMB']
df_trip = df['TripAdvisor']

In [ ]:
df_review['source'] = 'review'
df_facebook['source'] = 'facebook'
df_gmb['source'] = 'gmb'
df_trip['source'] = 'tripadvisor'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
df_review

,Creation date,Updated date,Business Id,Location name,Group Id,Group name,Business Code,Address,City,Zipcode,Platform,Content,Deleted,source
0,2022-05-31 23:32:47.181,NaT,565c8ee63440cd4d3f481a7b,Castorama,2212.0,PARIS SUD,1458,route nationale 186,Fresnes,94260,GOOGLE_MY_BUSINESS,NaN,No,review
1,2022-05-31 23:32:31.541,NaT,565c8ee43440cd4d3f481a1d,Castorama,2214.0,EST,1431,rue Bernard Palissy,Vandoeuvre Les Nancy,54500,GOOGLE_MY_BUSINESS,Un parking à l'image du magasin c'est à dire d...,No,review
2,2022-05-31 22:05:35.998,NaT,565c8ee63440cd4d3f481a67,Castorama,2212.0,PARIS SUD,1413,4 rue De La Longueraie,Vigneux Sur Seine,91270,GOOGLE_MY_BUSINESS,"Dans un petit appartement, je bricole peu.... ...",No,review
3,2022-05-31 21:56:30.729,NaT,565c8ee43440cd4d3f481a11,Castorama,2210.0,NORD,1461,ZAC Du Pont Loby,Dunkerque,59140,GOOGLE_MY_BUSINESS,NaN,No,review
4,2022-05-31 21:52:42.453,NaT,565c8ee53440cd4d3f481a47,Castorama,2211.0,PARIS NORD,1486,1-3 rue De Caulaincourt,Paris,75018,GOOGLE_MY_BUSINESS,Un magasin avec un maximum d'articles et référ...,No,review
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48807,2021-06-01 03:30:33.260,NaT,565c8ee23440cd4d3f4819c5,Castorama,2213.0,OUEST,1411,2 rue Hélène Boucher,Orvault,44700,GOOGLE_MY_BUSINESS,"(Translated by Google) Large store, lots of ch...",No,review
48808,2021-06-01 02:30:48.452,NaT,565c8ee43440cd4d3f481a03,Castorama,2210.0,NORD,1410,422 avenue Du Général De Gaulle,Bondues,59910,GOOGLE_MY_BUSINESS,NaN,No,review
48809,2021-06-01 02:30:29.917,NaT,565c8ee53440cd4d3f481a4f,Castorama,2210.0,NORD,1477,Centre Commercial,Haubourdin,59320,GOOGLE_MY_BUSINESS,NaN,No,review
48810,2021-06-01 02:02:12.199,NaT,565c8ee53440cd4d3f481a4f,Castorama,2210.0,NORD,1477,Centre Commercial,Haubourdin,59320,GOOGLE_MY_BUSINESS,(Translated by Google) Display a price and whe...,No,review
48811,2021-06-01 00:50:33.613,NaT,565c8ee23440cd4d3f4819bd,Castorama,2211.0,PARIS NORD,1479,90 avenue Henri Barbusse,Les-Clayes-Sous-Bois,78340,GOOGLE_MY_BUSINESS,(Translated by Google) I went there by bus on ...,No,review

In [ ]:
df_review = df_review.drop('Updated date', axis = 1)

In [ ]:
df_review

,Creation date,Business Id,Location name,Group Id,Group name,Business Code,Address,City,Zipcode,Platform,Content,Deleted,source
0,2022-05-31 23:32:47.181,565c8ee63440cd4d3f481a7b,Castorama,2212.0,PARIS SUD,1458,route nationale 186,Fresnes,94260,GOOGLE_MY_BUSINESS,NaN,No,review
1,2022-05-31 23:32:31.541,565c8ee43440cd4d3f481a1d,Castorama,2214.0,EST,1431,rue Bernard Palissy,Vandoeuvre Les Nancy,54500,GOOGLE_MY_BUSINESS,Un parking à l'image du magasin c'est à dire d...,No,review
2,2022-05-31 22:05:35.998,565c8ee63440cd4d3f481a67,Castorama,2212.0,PARIS SUD,1413,4 rue De La Longueraie,Vigneux Sur Seine,91270,GOOGLE_MY_BUSINESS,"Dans un petit appartement, je bricole peu.... ...",No,review
3,2022-05-31 21:56:30.729,565c8ee43440cd4d3f481a11,Castorama,2210.0,NORD,1461,ZAC Du Pont Loby,Dunkerque,59140,GOOGLE_MY_BUSINESS,NaN,No,review
4,2022-05-31 21:52:42.453,565c8ee53440cd4d3f481a47,Castorama,2211.0,PARIS NORD,1486,1-3 rue De Caulaincourt,Paris,75018,GOOGLE_MY_BUSINESS,Un magasin avec un maximum d'articles et référ...,No,review
...,...,...,...,...,...,...,...,...,...,...,...,...,...
48807,2021-06-01 03:30:33.260,565c8ee23440cd4d3f4819c5,Castorama,2213.0,OUEST,1411,2 rue Hélène Boucher,Orvault,44700,GOOGLE_MY_BUSINESS,"(Translated by Google) Large store, lots of ch...",No,review
48808,2021-06-01 02:30:48.452,565c8ee43440cd4d3f481a03,Castorama,2210.0,NORD,1410,422 avenue Du Général De Gaulle,Bondues,59910,GOOGLE_MY_BUSINESS,NaN,No,review
48809,2021-06-01 02:30:29.917,565c8ee53440cd4d3f481a4f,Castorama,2210.0,NORD,1477,Centre Commercial,Haubourdin,59320,GOOGLE_MY_BUSINESS,NaN,No,review
48810,2021-06-01 02:02:12.199,565c8ee53440cd4d3f481a4f,Castorama,2210.0,NORD,1477,Centre Commercial,Haubourdin,59320,GOOGLE_MY_BUSINESS,(Translated by Google) Display a price and whe...,No,review
48811,2021-06-01 00:50:33.613,565c8ee23440cd4d3f4819bd,Castorama,2211.0,PARIS NORD,1479,90 avenue Henri Barbusse,Les-Clayes-Sous-Bois,78340,GOOGLE_MY_BUSINESS,(Translated by Google) I went there by bus on ...,No,review

In [ ]:
df_facebook = df_facebook.drop(['template_used.1', 'Response date', 'Response', 'Recommended'], axis = 1)

In [ ]:
df_facebook

                            template_used    source
0                                     NaN  facebook
1                                 Excuses  facebook
2                                     NaN  facebook
3         2/3 étoiles (sans commentaire)   facebook
4      4-5 étoiles (sans commentaire) (1)  facebook
...                                   ...       ...
48807                          Au plaisir  facebook
48808  4-5 étoiles (sans commentaire) (4)  facebook
48809  4-5 étoiles (sans commentaire) (1)  facebook
48810                Mauvaise expérience   facebook
48811                          Au plaisir  facebook

[48812 rows x 2 columns]

In [ ]:
df_trip = df_trip.drop(['Rating','Response date','Response','Number of comments'], axis = 1, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
df_trip

In [ ]:
df_gmb

,Timezone,Rating,Response date,Response,source
0,Europe/Paris,4.0,2022-06-01 04:57:44.354,"Bonjour Eliza,\nMerci d'avoir pris le temps de...",gmb
1,Europe/Paris,1.0,2022-06-04 15:07:34.602,"Bonjour,\nMerci de nous avoir informé de ce pr...",gmb
2,Europe/Paris,5.0,2022-06-01 09:07:03.390,"Bonjour Madame,\nNous vous remercions chaleure...",gmb
3,Europe/Paris,3.0,2022-06-02 06:54:21.736,"Bonjour manuel,\nN'hésitez pas à nous contacte...",gmb
4,Europe/Paris,4.0,2022-06-01 09:04:55.087,"Bonjour Parrot Jean-Louis,\nMille mercis d’avo...",gmb
...,...,...,...,...,...
48807,Europe/Paris,4.0,2021-06-01 11:58:01.105,"Bonjour Patrick,\nNous vous remercions pour ce...",gmb
48808,Europe/Paris,5.0,2021-06-01 12:23:22.812,"Bonjour Véronique,\nToute notre équipe est rav...",gmb
48809,Europe/Paris,5.0,2021-06-03 06:24:43.293,"Bonjour Véronique Dupont,\nMille mercis d’avoi...",gmb
48810,Europe/Paris,2.0,2021-06-03 06:25:21.503,Bonjour A E 88\nNous vous remercions d'avoir p...,gmb
48811,Europe/Paris,4.0,2021-06-06 16:05:40.887,"Bonjour Anne-Laurence,\nNous vous remercions p...",gmb

In [ ]:
df.shape

(48812, 26)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48812 entries, 0 to 48811
Data columns (total 26 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   (review, Creation date)            48812 non-null  datetime64[ns]
 1   (review, Updated date)             7389 non-null   datetime64[ns]
 2   (review, Business Id)              48812 non-null  object
 3   (review, Location name)            48812 non-null  object
 4   (review, Group Id)                 48739 non-null  float64
 5   (review, Group name)               48739 non-null  object
 6   (review, Business Code)            48812 non-null  object
 7   (review, Address)                  48812 non-null  object
 8   (review, City)                     48812 non-null  object
 9   (review, Zipcode)                  48812 non-null  int64
 10  (review, Platform)                 48812 non-null  object
 11  (review, Content)                  27956 non-null  object
 12  (review, Deleted)                  48812 non-null  object
 13  (GMB, Timezone)                    48812 non-null  object
 14  (GMB, Rating)                      48684 non-null  float64
 15  (GMB, Response date)               46746 non-null  datetime64[ns]
 16  (GMB, Response)                    46746 non-null  object
 17  (Facebook, template_used)          38554 non-null  object
 18  (Facebook, Recommended)            128 non-null    object
 19  (Facebook, Response date)          63 non-null     datetime64[ns]
 20  (Facebook, Response)               63 non-null     object
 21  (Facebook, template_used.1)        49 non-null     object
 22  (TripAdvisor, Number of comments)  128 non-null    float64
 23  (TripAdvisor, Rating)              0 non-null      float64
 24  (TripAdvisor, Response date)       0 non-null      float64
 25  (TripAdvisor, Response)            0 non-null      float64
dtypes: datetime64[ns](4), float64(6), int64(1), object(15)
memory usage: 9.7+ MB

In [ ]:
#prof = ProfileReport(df)
#prof.to_file(output_file='rapport.html')